<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Extension Updates</key>
    <array>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>com.korx.safari.timelapse</string>
            <key>Developer Identifier</key>
            <string>RLYZN9VU52</string>
            <key>CFBundleVersion</key>
            <string>1</string>
            <key>CFBundleShortVersionString</key>
            <string>0.1</string>
            <key>URL</key>
            <string>https://raw.github.com/korx/Timelapse/master/Build/Timelapse.safariextz</string>
        </dict>
    </array>
</dict>
</plist>